* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    box-shadow: none;
}


html, body {
    overflow-y: scroll; /* Permet le défilement */
    scrollbar-width: none; /* Pour les navigateurs qui supportent cette propriété (Firefox) */
  }
  
  /* Pour les navigateurs WebKit comme Chrome, Safari */
  body::-webkit-scrollbar {
    display: none; /* Cache la barre de défilement */
  }

.app-style {
    height: 100vh;
    width: 100vw;
    cursor: url('./Win95TriBlack.png'), auto;
    display: flex;
    justify-content: center;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  