.button-cards-container {

    
    transform: scale(1);
    transition: 0.2s;

    height: fit-content;

    height: 280px;
    width: 180px;

    font-size: 6.25rem;
    
}

.button-cards-container:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}