.collection-container { 

    height: 100%;
    width: 100%;
    background-color: #0a0b19;

    display: flex;
    justify-content: center;
    padding-top: 8%;
    padding-right: 5%;
    
    flex-wrap: wrap;

    gap: 20px;

    transition: filter 0.2s; 


}

.current-deck-container {
    display: flex;
    
    gap: 20px;

    width: 30%;
    height: 100%;

    font-size: 4.5rem;


}

.card-in-collection-container {
    width: 60%;
    height: 100%;
    display: flex;
    padding-bottom: 5%;
    gap: 30px;
    flex-wrap: wrap;
    overflow: scroll;

}

.card-in-collection-container::-webkit-scrollbar {
    display: none;
}


.cards-in-deck-container {
    height: 20%;
    width: 18%;


    border: 1px solid white;
    border-radius: 5px;

}


.current-deck-container {
    display: flex;
    flex-wrap: wrap;
}


.cards-on-focus-container {
    position: absolute;
    width: fit-content;
    height: fit-content;
    z-index: 100;
    top: 5%;
}

